---
layout: archive
title: "Activities"
permalink: /activities/
author_profile: true
---

<ul>
  <li style="color:red"> UPCOMING! September 9th, 2021: Presentation at <a href="https://idsl1.phil-fak.uni-koeln.de/abteilungen/sprachwissenschaft/sinn-und-bedeutung-26">Sinn und Bedeutung 26</a>! </li>
  <li> August 31st, 2021: Paper accepted at <a href="https://conll.org">CoNLL 2021</a>: <i>Does referent predictability affect the choice of referential form? A computational approach using masked coreference resolution</i>, with Laura Aina, Gemma Boleda and Matthijs Westera</li>
  <li> August 10th, 2021: Presentation at <a href="https://www.jakubszymanik.com/CoSaQ/events/explanations-semantics/">Workshop on Computational and Experimental Explanations in Semantics and Pragmatics</a> in ESSLLI 2021</li>
  <li> August 6th, 2021: Long presentation at <a href="https://esslli2021.unibz.it/page/session/student_session/">ESSLLI 2021 Student Session</a>:" <i>Coherence-driven predictability and referential form: evidence from English corpus data"</i></li>
  <li> June 17th, 2021: I completed my service as a moderator for <a href="https://www.upf.edu/web/glif/glif-seminars">GLiF seminar</a> in the academic year 2020-2021, together with Sebastian Buchczyk. It was really a great honor to have organized so many inspirational talks. Thanks to all our invited speakers!</li>
  <li> June 6th, 2021: Paper accepted at <a href="https://idsl1.phil-fak.uni-koeln.de/abteilungen/sprachwissenschaft/sinn-und-bedeutung-26">Sinn und Bedeutung 26</a>: <i>Coherence-driven predictability and referential form: evidence from English corpus data</i>, with my supervisors Gemma Boleda and Laia Mayol</li>
  <li> December 17th, 2020: Talk at <a href="https://www.upf.edu/web/traduccio/inici/-/asset_publisher/T7gcoUNytM6c/content/id/240904798/maximized#.YRvNzNMzY-R">GLiF seminar</a>, Barcelona, Spain</li> 
</ul>



{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
